
:root {
    --scale-factor: 0.8;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightblue !important;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

body.dark{
    background-color: #383838 !important;
}


#map {
    width: 770px;
    height: 770px;
    border: 2px solid black;
}

.dark #map {
    border: 2px solid white;
}

.country {
    position: absolute;
    width: 766px;
    height: 768px;
    background: no-repeat;
    pointer-events: auto;
}

.white {
    filter: invert(95%) sepia(95%) saturate(35%) hue-rotate(63deg) brightness(107%) contrast(100%);
}

.yellow {
    filter: invert(95%) sepia(95%) saturate(1000%) hue-rotate(10deg) brightness(100%) contrast(100%);
}

.blue {
    filter: none;
}

.green {
    filter: invert(26%) sepia(89%) saturate(1583%) hue-rotate(95deg) brightness(96%) contrast(106%);
}

.gray {
    filter: invert(0) sepia(0) saturate(0) hue-rotate(0) brightness(0) contrast(0);
}

.red {
    filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(4deg) brightness(95%) contrast(118%);
}

.content{
    z-index: 1000;
    color: black;
    position: absolute;
}

.clicked {
    z-index: 999;
    -webkit-filter: drop-shadow(2px 2px 0 black)
    drop-shadow(-2px -2px 0 black);
}

.dark .clicked {
    -webkit-filter: drop-shadow(2px 2px 0 #ffffff)
    drop-shadow(-2px -2px 0 #ffffff);
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.continent-white {
    filter: drop-shadow(0 0 5px white) invert(95%) sepia(95%) saturate(35%) hue-rotate(63deg) brightness(107%) contrast(100%);
}

.continent-blue {
    filter: drop-shadow(0 0 5px blue);
}

.continent-yellow {
    filter: drop-shadow(0 0 5px yellow) invert(95%) sepia(95%) saturate(1000%) hue-rotate(10deg) brightness(100%) contrast(100%);
}

.continent-red {
    filter: drop-shadow(0 0 5px red) invert(16%) sepia(99%) saturate(7404%) hue-rotate(4deg) brightness(95%) contrast(118%);
}

.continent-green {
    filter: drop-shadow(0 0 5px green) invert(26%) sepia(89%) saturate(1583%) hue-rotate(95deg) brightness(96%) contrast(106%);
}

.rainbow {
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);
}

@keyframes huerotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

#settings {
    position: absolute;
    top: 5%;
    right: 3%;
    transform: scale(1.5);
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#overlay p {
    color: white;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#actions {
    position: absolute;
    bottom: 5%;
    left: 1%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#actions button {
    padding: 10px;
    font-size: 24px;
    width: 150%;
    border: none;
    cursor: pointer;
}

#btnContainer {
    position: absolute;
    bottom: 5%;
    right: 1%;
    padding: 10px;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

#actionBtn {
    padding: 10px;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.ui {
    transform: scale(var(--scale-factor));
}
