body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.login, .register, .host, .join {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.dark {
    background-color: #333 !important;
    color: white !important;
}

.map-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: black 2px solid;
    border-radius: 5px;
}

.dark .map-image {
    border: white 2px solid !important;
}

.card-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8rem;
}

.card-container:hover{
    cursor: pointer;
}

.black {
    filter: invert(100%) brightness(0%);
}

.dark .card{
    border: #626262 5px solid !important;
    background-color: #bbbbbb;
}

.card{
    text-align: center;
    border: black 5px solid !important;
    padding: 2rem;
}

h2{
    padding-top: 2rem;
}

.card.selected{
    border: red 5px solid !important;
}

.btn{
    font-size: 200% !important;
}

.dark{
    background-color: #333 !important;
    color: white !important;
}

#settings {
    position: absolute;
    top: 5%;
    right: 5%;
}